<div class="dialog-wrapper">
  <mat-card>
    <mat-card-content>
      <h1 mat-dialog-title class="modal-title">Register Form</h1>
      <div mat-dialog-content>
        <form action="" [formGroup]="registerForm">
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Enter your user name"
              formControlName="username"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Enter your name"
              formControlName="name"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Enter your email"
              formControlName="password"
            />
          </mat-form-field>

          <h3>Gender</h3>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </form>
      </div>
      <div mat-dialog-actions align="end" color="accent">
        <button
          mat-raised-button
          color="primary"
          (click)="register()"
          style="margin-right: 10px"
        >
          Register
        </button>
        <button mat-raised-button mat-dialog-close color="warn">
          Back to login
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
